​<ion-view view-title="Detalles" >


<ion-content  ng-controller="NuevoFavoritoCtrl">
<div>
  <div class="item item-avatar">
  <img src="{{detalle.image}}" width="200" height="50">
    <h2> Nombre: {{detalle.title}}</h2>
    <h2>Direccion: {{detalle.direccion}}</h2>
    <h2>Tipo: {{detalle.tipo}}</h2>
      <a href="javascript:">
      <i class="icon {{estrella}}" ng-click="setRating();"></i>
    </a>
  </div>
  </div>


  <div class="item item-body">
    <div class="item item-image">
        <img src="{{detalle.image}}">
      </div>

    <p>Descripcion: {{detalle.description}}
    </p>
      <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p>
      <div>
        <span>Comentario</span>
        <div class="list list-inset">
  <label class="item item-input">
        <input type="text"ng-model="comentario" placeholder="Inserte su comentario">
      </label>
    </div>
    <div class="button-bar">
        <button class="button icon-left button-dark ion-android-chat" ng-click="guardar();">
                Comentar
        </button>

          </button>
          <button class="button icon-left ion-map button-assertive"  ng-href="#/app/tab/lugares/{{lugar._id}}//mapa/" ng-click="go('/app/tab/lugares/{{lugar._id}}/mapa')">
                    Mapa
            </button>

      </div>
        <ion-item ng-repeat='comentario in comentarios' ng-if="comentario.id_lugar == lugar._id || comentario.id_lugar == lugar.id_lugar">
<a class="item item-avatar">
        <p>{{comentario.comentario}}</p>
      </a>


      </ion-item>
      </div>

</ion-content>
</ion-view>
