<ion-view view-title="Lugares" hide-back-button="false">
  
         <label class="item-input-wrapper">
           <i class="icon ion-ios-search placeholder-icon"></i>
           <input type="search" ng-model="query" placeholder="Buscar">
         </label>
 </div>

  <ion-content  class="has-subheader has-header">

    <ion-list show-reorder="data.showReorder">
        <ion-item ng-repeat='lugar in lugares | filter:query' class="item-remove-animate item-thumbnail-left item-icon-right" href="#/app/tab/lugares/{{lugar._id}}"
          ng-click="selectLugar(lugar)" on-hold="goToSlide($index)">

        <img ng-src="{{lugar.image}}">
        <h2>{{lugar.title}}</h2>
        Direccion: {{lugar.direccion}}


      </ion-item>

      </ion-list>


<script id="templates/modal.html" type="text/ng-template">
       <ion-modal-view>
         
         </ion-content>
       </ion-modal-view>
     </script>
     <script id="templates/image-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent" 
                   ng-click="closeModal()">
                <ion-slide-box on-slide-changed="slideChanged(index)" 
                               show-pager="false">
                  <ion-slide ng-repeat="lugar in lugares">
                    <img ng-src="{{lugar.image}}" class="fullscreen-image" />
                    <p class="info">{{lugar.title}}</p>
                  </ion-slide>
                </ion-slide-box>
              </div>
          </script>

  </ion-content>




</ion-view>
