<ion-view>
<ion-tabs class="tabs-icon-top tabs-color-active-positive">


  <!-- Dashboard Tab -->
  <ion-tab title="Lugares" icon-off="ion-ios-navigate-outline" icon-on="ion-ios-navigate" href="#/app/tab/lugares">
    <ion-nav-view name="tab-lugares"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mapa" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/app/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>
  <ion-tab title="QR" icon-off="ion-ios-camera-outline" icon-on="ion-ios-camera" href="#/app/tab/camara">
    <ion-nav-view name="tab-camara"></ion-nav-view>
  </ion-tab>
 <ion-tab title="Configuracion" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/app/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>
</ion-tabs>
</ion-view>
